{% extends "layout.njk" %}

{% block content %}

    {% block head %}
        <title>Sobre - Desafio 3</title>
    {% endblock %}

    <div class="texts">
        <h1>{{about.title}}</h1>
        <h2>{{about.subtitle}}</h2>
        <p>{{about.description1}}</p>
        <p>{{about.description2}}</p>
        <p>{{about.description3}}</p>
    </div>

    <div class="list">
    {% for tecnology in about.tecnologies%}
        <ul class="list-tecnologias">
            <li>{{tecnology.name}}</li>
        </ul>
        {% endfor %}
    </div>

{% endblock %}