{% extends "layout.njk" %}

{% block content %}

    {% block head %}
        <title>Sobre - Desafio 3</title>
    {% endblock %}

    <div class="texts">
        <h1>ROCKETSEAT</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀</p>
        <p>Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso.</p>
        <p>Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</p>
    </div>

    <div class="list">
        <ul class="list-tecnologias">
            <li>Javascript</li>
            <li>Node JS</li>
            <li>React JS</li>
            <li>React Native</li>
        </ul>
    </div>

{% endblock %}