{% extends "layout.njk" %}

{% block content %}
    <section class="course">
        <div class="course" id="{{item.id}}">
            <div class="course-container">
                <iframe src="https:www.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="card_content">
                <p>{{item.title}}</p>
            </div>
            <div class="card_info">
                <p>{{item.duration}}</p>
                <p class="card_price">
                    {{item.price}}
                </p>
            </div>
        </div>
    </section>

{% endblock %}