{% extends "layout.njk"%}

{% block content %}

    {% block head %}
        <title>404 - Desafio 3</title>
    {% endblock %}

    <div class="not-found">
    <h1>404 - Page Not Found</h1>
    </div>
    
{% endblock %}